:root{
    --main-font: Roboto, sans-serif;
    --main-color: #2E2F42;
    --accent-color:#4D5AE5;
    --main-background-color:#fff;
    --slate-color:#434455;
    --light-color:#ffffff;
    --cornflower-color:#E7E9FC;
    --ocean-color: #404BBF;
    --cloud-color:#F4F4FD;
    --light-slate-color: #8E8F99;
    --green-color:#31D0AA;
    --modal-color:#FCFCFC;
    --black-color:#000000;
    --main-margin: 24px;
    --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-animation: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}


body{
    max-width: 1440px;
    margin: 0 auto;

    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--main-background-color);
}

.list{
    list-style: none;
}

.link {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: color var(--hover-animation);
}

.link:hover,
.link:focus {
    color: var(--ocean-color);
}

.link:active{
    color: var(--ocean-color);
}

.btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height:1.19;
    letter-spacing: 0.04em;
    color: var(--light-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.visually-hidden {
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
}

.title-second{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.title-third{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color)
}

.section {
    padding: 96px 0;
        }
@media screen and (min-width:1200px){
    .section {
            padding: 120px 0;
        }
}

.container{
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width:1200px) {
    .container {
        padding: 0 15px;
        max-width:1158px;
    }
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.centred{
    margin: 0 auto;
}


 /* Header */
 .header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .header-container{
    display: flex;
    align-items: center;
 }
@media screen and (max-width:1199.98px) {
    .header-container {
        justify-content: space-between;    
    }
}

.logo{
    font-family: 'Raleway', sans-serif;
    color:inherit;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-decoration: none;
}
@media screen and (max-width:767px) {
     .logo {
        padding-top: var(--main-margin);
        padding-bottom: var(--main-margin);
     }
 }

.web{
    color:var(--accent-color);
}

@media screen and (max-width:767px){
    .header-navigation{
        display: none;
    }
}

.header-list{
    display: flex;
}
@media screen and (min-width:1200px) {
    .header-list {
        margin-left: 77px;
    }
}

.header-item:not(:first-child) {
    margin-left: 40px;
}

.header-link{
    display: block;
    padding: var(--main-margin) 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link.active{
    position: relative;

    color: var(--ocean-color);
}

.header-link.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--ocean-color);
}

@media screen and (max-width:767px) {
    .header-list-contacts {
        display: none;
    }
}
@media screen and (min-width:1200px) {
    .header-list-contacts {
        display: flex;

        margin-left: auto;
    }
}

@media screen and (min-width:768px) {
    .contacts-item+.contacts-item {
        margin-top: 4px;
    }
}
@media screen and (min-width:1200px) {
    .contacts-item {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .contacts-item+.contacts-item {
        margin-left: 40px;
        margin-top: 0;
    }
}

.header-contacts{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color:var(--slate-color);
    
    transition: color var(--hover-animation); 
}
@media screen and (min-width:1200px){
    .header-contacts{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.header-contacts:hover,
.header-contacts-focus{
    color: var(--ocean-color);
}

.contacts-icon{
    width:13px;
    height:15px;
    margin-right: 4px;

    fill: var(--slate-color);

    transition: fill var(--hover-animation);
}
@media screen and (max-width:1199px){
    .contacts-icon{
        display: none;
    }
}

.email{
    width: 20px;
    height: 18px;
}

.header-contacts:hover + .contacts-icon,
.header-contacts:focus + .contacts-icon{
    fill: var(--ocean-color);
}

.menu-btn{
    background-color: transparent;
    border: none;
}
@media screen and (min-width:768px) {
    .menu-btn {
        display: none;
    }
}

.hamburgerg-button{
    width: 32px;
    height: 22px;

    stroke: currentColor;
}


/* Hero */
.hero{
    padding: 112px 0;
    text-align: center;

    background-color: var(--main-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/studio_hero/bg-image-mobile.jpg);
    background-position: center;
    background-size: cover;
 }
 @media screen and (min-width:1200px){
    .hero{
        padding: 192px 0;
    }
 } 
@media screen and (min-width: 428px) and (min-device-pixel-ratio: 2),
screen and (min-width: 428px) and (min-resolution: 192dpi),
screen and (min-width: 428px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/studio_hero/bg-image-mobile@2x.jpg);
    }
}

/* tablet screen */
@media screen and (min-width:768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/studio_hero/bg-image-tablet.jpg);
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/studio_hero/bg-image-tablet@2x.jpg);
    }
}

/* desktop screen */
@media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/studio_hero/bg-image-desktop.jpg);
    }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/studio_hero/bg-image-desktop@2x.jpg);
    }
}

.hero-title{
    margin-bottom: 72px;
    max-width: 319px;

    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    color:var(--light-color);
}
@media screen and (min-width: 768px) {
    .hero-title{
        max-width: 496px;
        margin-bottom: 40px;

        font-size: 56px;
        line-height: 1.07;
    }
}
@media screen and (min-width: 1200px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-btn{
    padding: 19px 32px;

    transition: box-shadow var(--hover-animation), background-color var(--hover-animation);
}
.hero-btn:hover,
.hero-btn:focus{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: var(--ocean-color);
}


/* Section-advantages */
@media screen and (min-width: 768px){
    .advantages-list {
        display: flex;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .advantages-list{
        flex-wrap: wrap;
        grid-row-gap: 72px;
        grid-column-gap: var(--main-margin);
    }
}

.advantages-list-item {
        max-width: 396px;
        margin-bottom: 72px;
    }
.advantages-list-item:last-child {
        margin-bottom: 0;
    }
@media screen and (min-width: 768px){
    .advantages-list-item {
        max-width: 356px;
        margin-bottom: 0;
    }  
}
@media screen and (min-width: 1200px) {
    .advantages-list-item {
        max-width: 264px;
        margin-bottom: 0;
    }
    .advantages-list-item:not(:last-child) {
            margin-right: 24px;
        }
}

.thumb{
    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: var(--cloud-color);
    border-radius: 4px;
}

@media screen and (max-width:1199px){
    .thumb{
        display: none;
    }
}

.icon-advantages{
    width: 64px;
    height: 64px;
}

.advantages-title{
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
@media screen and (max-width:767px){
    .advantages-title{
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .advantages-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.advantages-descr{
    font-weight: 500;
}
@media screen and (min-width:1200px){
    .advantages-descr{
        font-weight: 400;
    }
}


/* Section-Type-of-work */
.type-of-work{
    padding-top: 0;
}
@media screen and (max-width:1199px){
    .type-of-work{
        display: none;
    }
}

.type-of-work-title{
    margin-bottom: 72px;
    text-align: center;
}

.type-of-work-list{
    display: flex;
}

.type-of-work-list-item:not(:last-child){ 
    margin-right: var(--main-margin);
}


/* Section-Our team */
.team{
    padding-top: 96px;
    padding-bottom: 128px;
    text-align: center;

    background-color: var(--cloud-color);
}
@media screen and (min-width:768px) {
    .team{
        padding-bottom: 104px;
    }
}
@media screen and (min-width:1200px) {
    .team{
        padding: 120px 0;
    }
}

.team-title{
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row-gap: 72px;
    }
@media screen and (min-width:768px) {
    .team-list {
        grid-column-gap: var(--main-margin);
        grid-row-gap: 64px;
    }
}

.team-list-item{
    background-color: var(--light-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.info-padding{
    padding: 32px 16px;
}

.team-list-title{
    margin-bottom: 8px;
}

.team-list-descr{
margin-bottom: 12px;
}

.media-list{
    display: flex;
}

.media-list-item{
    width: 40px;
    height: 40px;
}

.media-list-item:not(:last-child){
    margin-right:var(--main-margin);
}

.media-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
    border-radius: 50%;

    transition: background-color var(--hover-animation);
}
.media-link:hover,
.media-link:focus{
    background-color: var(--ocean-color);
}

.icon-team{
    display: block;

    width: 16px;
    height: 16px;

    fill:var(--cloud-color);
}


/* Customers */
.customers{
    text-align: center;
}

.customers-title{
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 72px;
    grid-column-gap: 16px;
    justify-content: center;
}
@media screen and (min-width:768px){
    .customers-list {
        grid-column-gap: 24px;
    }
}

.customers-list-item{
    width: 168px;
    height: 88px;
}
@media screen and (max-width:767px){
    .customers-list-item {
        width: 190px;
        }
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);
    transition: color var(--hover-animation), border var(--hover-animation);
}

.customers-link:hover,
.customers-link:focus{
    border: 1px solid var(--ocean-color);
    color: var(--ocean-color);
}

.customers-icon{
    display: block;
    width: 110px;
    height: 56px;

    fill: var(--light-slate-color);
    fill: currentColor;
    }
@media screen and (min-width:768px){
    .customers-icon {
        width: 104px;
        }
}


/* Footer */
.footer{
    background-color: var(--main-color);
    padding: 96px 0;
}
@media screen and (min-width:1200px) {
    .footer{
        padding: 100px 0;
    }
}

@media screen and (max-width:767px) {
    .footer-container {
        text-align: center;
    }
}
@media screen and (min-width:768px) {
    .footer-container{
        display: flex;
    }
}
@media screen and (min-width:768px) and (max-width:1199px){
    .footer-container {
        max-width: 584px;

        flex-wrap: wrap;
        grid-row-gap: 72px;
        grid-column-gap: var(--main-margin);
    }
}

@media screen and (max-width:767px) {
    .footer-info {
        max-width: 268px;
        margin: 0 auto;
        margin-bottom: 72px;
        }
}
@media screen and (min-width:768px) {
    .footer-info {
        max-width: 264px;
    }
}
@media screen and (min-width:1200px) {
    .footer-info {
        margin-right: 120px;
    }
}

.footer-text{
    margin-top: 16px;
    color: var(--cornflower-color);
}

.logo-footer{
    color: var(--cloud-color);
}

@media screen and (max-width:767px) {
    .footer-soc {
        margin-bottom: 72px;
    }
}
@media screen and (min-width:1200px) {
    .footer-soc {
        margin-right: 80px;
    }
}

.footer-title{
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-list-item{
    width: 40px;
    height: 40px;
}

.footer-list-item:not(:last-child) {
    margin-right: 16px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 40px;
    width: 100%;
    height: 100%;

    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--hover-animation);
}
.footer-link:hover,
.footer-link:focus{
    background-color: var(--green-color);
}

.footer-icon {
    display: block;

    width:24px;
    height:24px;

    fill: var(--cloud-color);
}

@media screen and (min-width:768px) {
    .footer-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form-field-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    padding-left: 16px;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6); 
}
@media screen and (min-width:428px) and (max-width:767px){
    .form-field-input {
        width: 396px;
    }
}
@media screen and (max-width:767px){
    .form-field-input{
        margin-bottom: 16px;
    }
}

.form-field-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn{
    display: flex;
    padding: 8px 24px;

    box-shadow: none;

    transition: background-color var(--hover-animation);
}
.footer-form-btn:hover,
.footer-form-btn:focus{
    background-color: var(--ocean-color);
}
@media screen and (max-width:767px) {
    .footer-form-btn{
        margin: 0 auto;
    }
}

.btn-text{
    margin-right: 16px;

    line-height: 1.5;
}

.btn-form-icon{
    width: 24px;
    height: 24px;
}


/* Main of portfolio */
.portfolio-section{
    padding: 48px 0;
}
@media screen and (min-width:768px){
    .portfolio-section{
        padding-top: 64px;
        padding-bottom: 96px;
    }
}
@media screen and (min-width:1200px) {
    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }
}

.portfolio-hero-list{
    display: flex;
    justify-content: center;

    margin-bottom: 64px;
}
@media screen and (max-width:767px){
    .portfolio-hero-list{
        max-width: 311px;
        margin-bottom: 48px;

        flex-wrap: wrap;
        grid-row-gap: 16px;
        grid-column-gap: var(--main-margin);
        justify-content: flex-start;
    } 
}
@media screen and (min-width:1200px) {
    .portfolio-hero-list{
        margin-bottom: 72px;
    }
}

@media screen and (min-width:768px){
    .portfolio-hero-list-item+.portfolio-hero-list-item {
            margin-left: var(--main-margin);
    }
}

.portfolio-hero-btn{
    padding: 8px 16px;

    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;

    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    cursor: pointer;

    transition: box-shadow var(--hover-animation), background-color var(--hover-animation);
}
@media screen and (max-width:767px) {
    .portfolio-hero-btn {
        padding: 4px 16px;
    }
}
.portfolio-hero-btn:hover,
.portfolio-hero-btn:focus,
.portfolio-hero-btn:active{
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--light-color);
}


/* Section Gallery */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 48px;
}
@media screen and (min-width:768px){
    .gallery-list{
        grid-row-gap: 72px;
        grid-column-gap:var(--main-margin);
    }
}
@media screen and (min-width:768px){
    .gallery-list{
        grid-row-gap: 48px;
    }
}

.gallery-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.gallery-item-link {
    position: relative;

    display: block;

    font-family: inherit;
    text-decoration: none;
    color: inherit;

    transition: box-shadow var(--hover-animation);
}

.gallery-item-link:hover,
.gallery-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-item-link:hover .overlay{
    transform: translateY(0);
}

.gallery-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
    transform: translateY(100%);

    transition: transform var(--hover-animation);
}

.card-padding{
    padding: 32px 0;
    padding-left: 16px;

    border-left: 0.5px solid #F4F4FD;
    border-top: 0.5px solid #F4F4FD;;
    border-right: 0.5px solid #F4F4FD;
}

.gallery-item-title {
    margin-bottom: 8px;
}

.gallery-text-on-photo {
    position: absolute;
    top: 40px;
    left: 32px;

    max-width: 296px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
}

/* Modal */
.backdrop{
    position: fixed;
    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: visibility var(--modal-animation), opacity var(--modal-animation);
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    padding: 72px 24px 24px 24px;
    width: 408px;
    height: 579px;
    max-height: 90vh;
    overflow-y: scroll;

    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity var(--modal-animation) 250ms, transform var(--modal-animation);
}
@media screen and (min-width:428px) and (max-width:767px){
    .modal{
        padding: 72px 16px 24px 16px;
        width: 392px;
    }
}
@media screen and (max-width:427px) {
    .modal {
        width: 90vw;
        height: 90vh;
    }
}

.backdrop.is-hidden .modal{
    transform: translate(0);
    opacity: 0;
}

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    background-color: var(--cornflower-color);
    cursor: pointer;

    transition: background-color var(--hover-animation);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--ocean-color);
}

.modal-icon{
    display: block;

    fill: var(--black-color);

    transition: fill var(--hover-animation);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon{
    fill: var(--light-color);
}

.modal-title{
    display: block;
    text-align: center;
    margin-bottom: 14px;
}

.modal-form-group{
    margin-bottom: 16px;
}

.modal-form-field{
    position: relative;

    display: block;

    margin-bottom: 8px;
}

.modal-form-label{
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}

.modal-form-input{
    width: 100%;
    height: 40px;
    padding-left: 40px;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 18px;

    transition: border var(--hover-animation);
}

.modal-form-input:focus{
    border: 1px solid var(--accent-color);
}

.modal-form-icon{
    position: absolute;
    bottom: 11px;
    left: 16px;

    fill: inherit;

    transition: fill var(--hover-animation);
}

.icon-higher{
    bottom: 8px;
}

.modal-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}

.modal-form-message{
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    resize: none;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form-message::placeholder{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);

    transition: border var(--hover-animation);
}

.modal-form-message:focus{
    border: 1px solid var(--accent-color);
}

.modal-form-agree{
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}

.modal-form-checkbox{
    appearance: none;
    height:16px;
    width: 16px;

    border: 1.25px solid var(--main-color);
    border-radius: 2px;
    margin-right: 9px;

    transition: var(--hover-animation);
}

.modal-form-checkbox:checked{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--ocean-color);
    border: 1.25px solid var(--ocean-color);
}

.modal-form-text{
    font-family: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-form-link{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--accent-color)
}

.modal-form-btn{
    display: block;

    width: 169px;
    margin: 0 auto;
    padding: 16px 32px;

    line-height: 1.5;

    transition: background-color var(--hover-animation);
}


/* Mobile Menu */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    padding-right: 60px;
    background-color: var(--light-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
@media screen and (min-width:768px){
    .menu-container{
        display: none;
    }
}
.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower-color);
    cursor: pointer;

    transition: background-color var(--hover-animation);
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: var(--ocean-color);
}

.menu-toggle:hover .modal-icon,
.menu-toggle:focus .modal-icon {
    fill: var(--light-color);
}

.menu-list{
    margin-bottom: auto;
}

.menu-item:not(:last-child){
    margin-bottom: 40px;
}

.menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.menu-link.current{
    color: var(--ocean-color);
}

.menu-list-contacts{
    margin-bottom: 48px;
}

.menu-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-contacts-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-contacts-link.accent{
    font-size: 36px;
    line-height: 1.11;
    color: var(--accent-color);
}
@media screen and (max-width:427px){
    .menu-contacts-link.accent{
        font-size: 22px;
}

}
.soc-list-item {
    width: 40px;
    height: 40px;
}

.soc-list-item:not(:last-child) {
    margin-right: 56px;
}
@media screen and (max-width:427px){
    .soc-list-item:not(:last-child) {
        margin-right: 18px;
    }
}

.icon-mob {
    display: block;

    width: 24px;
    height: 24px;

    fill: var(--cloud-color);
}